<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
    <style>
        td {
        text-align: center;
        }
        button {
        text-align:center;
        width:100%;
        height:100px;
        font-size:75px;
        background-color: #dddddd
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://unpkg.com/mathjs/lib/browser/math.js"></script>
</head>
<body>
<div style="width:100%">
    <div style="width:50%;float:left;">
    <table style="width:100%;padding:7px;">
    <tr>

    </tr>
    <tr>
        <td>
            <button class="btn btn-primary" onclick="addNS(7)">7</button>
        </td>
        <td>
            <button class="btn btn-primary" onclick="addNS(8)">8</button>
        </td>
        <td>
            <button class="btn btn-primary" onclick="addNS(9)">9</button>
        </td>
        <td>
            <button class="btn btn-warning" onclick="addNS('/')">/</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-primary" onclick="addNS(4)">4</button>
        </td>
        <td>
            <button class="btn btn-primary" onclick="addNS(5)">5</button>
        </td>
        <td>
            <button class="btn btn-primary" onclick="addNS(6)">6</button>
        </td>
        <td>
            <button class="btn btn-warning" onclick="addNS('*')">*</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-primary" onclick="addNS(1)">1</button>
        </td>
        <td>
            <button class="btn btn-primary" onclick="addNS(2)">2</button>
        </td>
        <td>
            <button class="btn btn-primary" onclick="addNS(3)">3</button>
        </td>
        <td>
            <button class="btn btn-warning" onclick="addNS('-')">-</button>
        </td>
    </tr>
    <tr>
        <td>
            <button class="btn btn-danger" onclick="cl()">C</button>
        </td>
        <td>
            <button class="btn btn-primary" onclick="addNS('0')">0</button>
        </td>
        <td>
            <button class="btn btn-warning" onclick="addNS('.')">.</button>
        </td>
        <td>
            <button class="btn btn-warning" onclick="addNS('+')">+</button>
        </td>
    </tr>
    <tr>
        <td colspan="4">
            <button style="width:100%" class="btn btn-success" onclick="eval()">=</button>
        </td>
    </tr>
</table>
</div>
    <div style="width:50%;text-align:right;float:right;">
        <h1 style="top:50%" id="nums"></h1>
    </div>
    <div style="width:50%;text-align:right;float:right">
        <h1 style="top:50%" id="summ">{{ ans }}</h1>
    </div>
</div>

<script>
    temp = 0;
    sum = 0;
    ps = '';
    flag = 0;
    function addNS(n){
        document.getElementById("nums").innerHTML += n;
    }
    function eval(){
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            document.getElementById("summ").innerHTML = this.response;
            document.getElementById("nums").innerHTML = '';
       }
    };
        xhttp.open("GET",'{{ url_for('evaluate') }}'+'?exp='+document.getElementById("nums").innerHTML);
        xhttp.send(null);

    }
    function cl(){
        document.getElementById("summ").innerHTML = '';
        document.getElementById("nums").innerHTML = '';
    }



</script>
</body>
</html>